{% extends "base.html" %}

{% block title %}Formulário Cliente{% endblock %}

{% block content %}
<h1>Formulário Cliente</h1>
<form action="/submit_cliente_form" method="post">
    <label for="nome">Nome:</label>
    <input type="text" id="nome" name="nome" required>
    
    <label for="telefone">Telefone:</label>
    <input type="text" id="telefone" name="telefone" required>
    
    <label for="email">E-mail:</label>
    <input type="email" id="email" name="email" required>
    
    <label for="data_visita">Data da Visita:</label>
    <input type="date" id="data_visita" name="data_visita" required>

    <label for="corretor">Corretor:</label>
    <input type="text" id="corretor" name="corretor" required>

    <label for="imobiliaria">Imobiliária:</label>
    <input type="text" id="imobiliaria" name="imobiliaria" required>
    
    <label for="como_soube">Como soube do empreendimento?</label>
    <select id="como_soube" name="como_soube" required>
        <option value="corretor">Corretor</option>
        <option value="imobiliaria">Imobiliária</option>
        <option value="outro">Outro</option>
    </select>
    
    <input type="submit" value="Cadastrar">
</form>
{% endblock %}

