{% extends "base.html" %}

{% block title %}index{% endblock %}

{% block content %}
<head>
    <meta charset="UTF-8">
    <title>Vendedor</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <h1>Dados dos Vendedores</h1>
    <h2>Vendedor 1</h2>
    <div class="vendedor">
        {% for ponto in vendedores['vendedor1'] %}
            <p>{{ ponto.nome_corretor }} - {{ ponto.imobiliaria }} - {{ ponto.data }}</p>
        {% endfor %}
    </div>
    <h2>Vendedor 2</h2>
    <div class="vendedor">
        {% for ponto in vendedores['vendedor2'] %}
            <p>{{ ponto.nome_corretor }} - {{ ponto.imobiliaria }} - {{ ponto.data }}</p>
        {% endfor %}
    </div>
</body>
{% endblock %}
