{% extends "base.html" %}

{% block title %}Cadastro de Ponto{% endblock %}

{% block content %}
<h1>Cadastro de Ponto</h1>
<form action="/submit_ponto_form" method="post">
    <label for="cpf">Nome:</label>
    <input type="text" id="cpf" name="cpf" required>
    
    <label for="data">Data:</label>
    <input type="date" id="data" name="data" required>
    
    <label for="horario_entrada">Horário de Entrada:</label>
    <input type="time" id="horario_entrada" name="horario_entrada" required>
    
    <label for="horario_saida">Horário de Saída:</label>
    <input type="time" id="horario_saida" name="horario_saida" required>
    
    <input type="submit" value="Cadastrar">
</form>
{% endblock %}
